{
	"presets": [
		"react-app"
	],
	"plugins": [
		"react-hot-loader/babel",
		["@babel/plugin-proposal-decorators", { "legacy": true }],
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "src": "./src"
                }
            }
		]
	]
}
